<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx 
         http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 打开Spring的Annotation支持 -->
	
	<context:annotation-config />
	<!-- 设定Spring 去哪些包中找Annotation,不需要像传统的方式配置多个bean-->
	<context:component-scan base-package="com.zom.cms" />
	
	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	
	<bean id="ftlPath" class="java.lang.String">
		<constructor-arg value="/ftl"/>
	</bean>
	
	<bean id="outPath" class="java.lang.String">
		<constructor-arg value="/jsp/template"/>
	</bean>
		<bean id="configBean" class="com.zom.cms.im.easemob.comm.PropertiesUtils">
			<property name="locations">
				<list>
					<value>classpath*:/application.properties</value>
				</list>
			</property>
		</bean>



<!-- <bean id="defaultViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
 p:order="3">
	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
	<property name="cintentType" value="text/html"></property>
	<property name="prefix" value="/webpage/"></property>
	<property name="suffix" value=".jsp"></property>
</bean>
<bean id="benaNameViewResolver"
 class="org.springframework.web.servlet.view.BeanNameViewResolver" p:order="0">
 </bean> -->
 <!-- Excel处理  根据用户输入的对象处理-->
 <bean id="jeecgExcelView" class="org.jeecgframework.poi.excel.view.JeecgSingleExcelView"></bean>
 <bean id="jeecgTemplateExcelView" class="org.jeecgframework.poi.excel.view.JeecgTemplateExcelView"></bean>
 <bean id="jeecgTemplateWordlView" class="org.jeecgframework.poi.excel.view.JeecgTemplateWordView"></bean>
 <bean id="jeecgMapExcelView" class="org.jeecgframework.poi.excel.view.JeecgMapExcelView"></bean>



</beans>